// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.row {
    display: flex;
    width: 100%;
    justify-content: left;
}

.halt_content {
    margin: 0px;
    margin-left: 30px;
    width: 70%;
}

@media screen and (max-width: 1400px) {
    .halt_content {
        width: 50%;
    }
}

@media screen and (max-width: 820px) {
    .halt_content {
        width: 90%;
    }
}
.card {
    min-width: 300px;
    width: 20%;
    max-width: 500px;
    height: 450px;
    background-color: none;
    margin: 20px;
    padding: 0;
    display: flex;
    position: relative;
}

.card_road {
    color: #fff;
    text-shadow: 2px 3px 4px grey;
    background-color: #77d7b9;
    font-family: Poppins;
    font-size: 24px;
    width: fit-content;
    height: 10%;
    padding: 10px 20px;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 5;
    text-decoration: none;
}

.card_title {
    color: black;
    font-family: Poppins;
    bottom: 0;
    font-size: 20px;
    font-weight: 300;
    padding-left: 5%;
}

.card_content {
    color: black;
    font-family: Poppins;
    font-size: 13px;
    padding: 0 5%;
    height: 80px;
}

.card .background_image {
    width: 100%;
    z-index: 0;
    position: absolute;
}

.content {
    padding: 10px;
}

.card .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(80px + 1em));
    transition: transform 0.3s;
    background-color: #77d7b9;
}

.card .wrapper:hover .data {
    transform: translateY(0);
}

.card .wrapper {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.halt_number {
    /*FEELINGS*/
    font-family: Poppins;
    position: absolute;
    top: 0;
    right: 0;
    color: #77d7b9;
    padding: 10px;
    margin-top: 0;
}

.btn {
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 500;
    transition: 0.3s;
    padding: 15px;
    margin: 0;
    border: none;
    font-size: 16px;
    z-index: 12;
}

.btn:hover {
    background-color: #77d7b9;
    color: #fff;
    padding: 10px;
    margin: 5px;
}

.btn2 {
    background-color: #77d7b9;
    color: #fff;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 500;
    transition: 0.3s;
    padding: 15px;
    margin: 0;
    border: none;
    font-size: 16px;
}

.btn2:hover {
    background-color: black;
    color: #fff;
    padding: 10px;
    margin: 5px;
}


