<header>
    <%= link_to(image_tag("logow.png", class:"logo"), "/") %>

        <div class="btn_header">
            <%= link_to "New Card", new_card_path, class: 'btn hide' %>
            <%= link_to 'Library', cards_path, class: "btn"%>
            <a class="btn">About</a>
        </div>

</header>